// Links
@mixin scale-underline {
    &::before {
        transform: scaleX(1);
    }
}
@mixin unscale-underline {
    &::before {
        transform: scaleX(0);
    }
}
@mixin highlight-background($width: 100%, $height: 100%, $min-height: 0px) {
    &::after {
        content: "";
        position: absolute;
        width: $width;
        height: $height;
        min-height: $min-height;
        bottom: calc(($height/2 * (-1)) + (50%));
        left: calc(($width/2 * (-1)) + (50%));
        background-color: transparent;
        transition: all 0.1s ease-in-out;
        z-index: -1;
    }
    &:focus {
        @include unscale-underline;
        &::after {
            background-color: lighten($header-background-color, 10%);
        } 
    }

    @media (max-height: 625px) {
        &::after {
            bottom: calc(($min-height/2 * (-1)) + (50%));
        }
    }
}

// Button
@mixin reverse-color {
    color: $button-background;
    background-color: transparent;
}